:root {
    --scale: 2.5;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


html {
background-color: rgb(48, 48, 48);
/* overflow: hidden; */
}

.container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    max-height: auto;
  
}

.container h6{
    color: azure;
}
.container p{
 margin-top: 6rem;
 font-size: 1.2rem;
 padding-inline: 3rem;
 color: azure;
 padding-bottom: 1rem;
}

#board {
    margin-top: 3rem;
    background-image: url("../img/pythagoras_template.png");
    background-size:calc(641px / var(--scale));
    width: calc(641px / var(--scale));
    height: calc(706px / var(--scale));
    z-index: -3;
}

.pieces {
    position: relative;
    user-select: none;
    transform: translate(-50%, -50%);
    cursor: move;
}

.piece-wrapper {
    position: absolute;
    transform-origin: top left;
    user-select: none;
}

#square {
    background-image: url('../img/square.png');
    background-size: calc(196px/ var(--scale));
    width: calc(196px/ var(--scale));
    height:calc(196px/ var(--scale));
    z-index: 15;
}

.polys {
    background-image: url("../img/poly.png");
    background-size: calc(168px/ var(--scale));
    width: calc(168px/ var(--scale));
    height: calc(183px/ var(--scale));
}

#poly1 {
    z-index: 3;
}

#poly2 {
    z-index: 7;
}
#poly3 {
    z-index: 9;
}
#poly4 {
    z-index: 11;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #1E88E5;
    position: absolute;
    border-radius: 100px;
    border: 1px solid white;
    user-select: none;
}

.dot:hover {
    background-color: #023074;
}

.dot.rotate {
    top: -30px;
    left: calc(50% - 5px);
    cursor: url('../img/rotate-ccw.png'), auto;

}

.rotate-link {
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #1E88E5;
    top: -20px;
    left: calc(53%);
    z-index: -1;
}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect {
    -webkit-user-select: none; /* Safari */
            user-select: none; /* Every other browser */
}

@media only screen 
and (max-device-width: 820px)
{ 
    
#board {
    margin-left: calc(800px / var(--scale));
    background-image: url("../img/pythagoras_template.png");
    background-size:calc(641px / var(--scale));
    width: calc(641px / var(--scale));
    height: calc(706px / var(--scale));
    z-index: -3;
  }

}

@media only screen 
and (max-device-width: 586px)
{ 
    :root {
        --scale: 2;
    }
    .container {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        max-height: auto;
        overflow:auto;
    }
#board {
    margin-left: 0;
    margin-top: calc(900px / var(--scale));
    background-image: url("../img/pythagoras_template.png");
    background-size:calc(641px / var(--scale));
    width: calc(641px / var(--scale));
    height: calc(706px / var(--scale));
    z-index: -3;
  }

}

